$small-font: 80%;
$padding: 7.5px;
$spacing: 7.5px;
$mobile-view-padding: 15px 20px;
$desktop-view-padding: 100px 3.5rem;
$border-radius: 5px;
$gradient-bg: linear-gradient(to left bottom, #f26114, #d83343, #a91f5a, #6f215d, #361f4c);