<div id="hero">
  <h1>Meta Data</h1>
  <p class="sub-hero-text">
    A collection of open source and paid assets : - images, code snippets,
    repositories, templates and more for designers, web and hybrid application
    developers!
  </p>
  <div id="call-to-action">
    <a>Explore</a>
    <a>Add yours</a>
  </div>
</div>
