<div id="hero">
    <h1>Meta_Data</h1>
<p class="sub-hero-text">
  A collection of open source and paid assets : - images, code snippets, repositories,
  templates and more for designers, web and hybrid application developers!
</p>
<div>
  <a>Explore</a>
  <a>contribute</a>
</div>

</div>