<ul>
  <li>
    <a href="/css">CSS </a>
  </li>
  <li>
    <a href="/css">SVG</a>
  </li>
  <li>
    <a href="/css">Icons</a>
  </li>
  <li>
    <a href="/css">Illustrations</a>
  </li>
  <li>
    <a href="/css">Animations</a>
  </li>
  <li>
    <a href="/css"></a>
  </li>
</ul>
