<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <nav><%- include("./partials/navigation");%></nav>
    <main>hello</main>
    <footer><%- include("./partials/footer"); %></footer>
  </body>
</html>
