@import "./global/colors";
@import "./global/mixins";
@import "./global/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
:root {
  --blue: $blue;
}

// #inspire {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-template-rows: min(100vh);
//   & {
   
//   }

//   @media screen and (max-width: 600px) {
//     display: block;
//     padding: 0;
//     margin: 0;
//     aside {
//       display: none;
//     }
//   }
// }

@import "./partials/user-account-navigation";
// @import "./partials/user-account-main";
// @import "./partials/user-account-aside";
