.btn {
    height: 50px;
    width: 100%;
    left: 0px;
    border-radius: 8px;
    padding: 7px 25px 7px 25px;
    border: 1px solid $grey;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .btn {
        width: 100%;
        font-size: 14px;
    }
}