.card-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  padding: 15px;
  .card {
    border: 3px solid $grey-lightened;
    padding: 1.75rem 1.2rem;
    border-radius: 5px;
    box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
    line-height: 30px;
  }

  h4 {
    line-height: 32px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .icon {
    color: $grey;
    display: flex;
    align-items: center;
    margin-right: 10.5px;
    font-size: 17px;
    justify-content: space-between;
  }

  .icon img {
    display: inline-block;
    margin-right: 2px;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    .card {
      padding: 1.75rem 1.2rem;
    }
  }
}
