footer {
  font-size: $small-font;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
  color: darken($grey, 40%);
  padding: $spacing;
  padding: 2rem 0;
  img,
  a {
    display: inline-block;
    margin: 0 3px;
  }

  & a#opeolluwa {
    color: $black;
    text-decoration: underline;
  }
}
