footer {
  font-size: $small-font;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  color: darken($grey, 40%);
  padding: $spacing;
  padding: 2rem 0;
  background-color: $grey-lightened;
  display: flex;
  align-items: center;
  column-gap: 35px;

  img,
  a {
    display: inline-block;
    margin: 0 3px;
  }

  & a#opeolluwa {
    color: $black;
    text-decoration: underline;
    text-decoration-color: $grey;
  }
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-top: .5rem;
  display: none;

  a {
    color: $black !important;
    text-decoration: none;
  }

  li a {
    font-weight: 400 !important;
    font-size: 19px !important;
  }
}

.bi-heart-fill {
  color: $red;
  display: inline-block;
  margin: 0 3px;
}