header {
  display: grid;
  grid-template-rows: 10px auto auto;
  padding: 0 !important;
  min-height: calc(97vh - 5rem);
  align-content: space-between;
  @include gradient;
  color: $white;
  position: relative;

  &#resource-header {
    min-height: 50vh;
    h1 {
      text-transform: capitalize;
      text-align: center!important;
    }
  }
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  h1 {
    text-align: center;
  }

  p {
    margin: 1.75rem 0;
    max-width: 40vw;
    display: flex;
    justify-content: center;
    text-align: center;
    color: darken($white, 3%);
  }

  p::first-letter {
    text-transform: capitalize !important;
  }
  //call to action
  div#call-to-action {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    a,
    a:link,
    a:hover,
    a:visited {
      @include base-button($border-color: $white);
      @include fade-overlay(255, 255, 255, 0.1);
      text-decoration: none;
      color: $white;
      display: block;
      margin: 0 0.75rem;
      cursor: pointer;
    }
  }
}

header > * {
  padding: $desktop-view-padding;
}

//small screens
@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: (calc(85vh - 25px));
    &#resource-header {
      max-height: 50vh;
      grid-template-rows: calc(65vh - 20px);
      h1,
      h2,
      h3 {
        line-height: 56px;
        font-size: 2.5rem;
      }
    }
    & > * {
      padding: 0 1.5rem;
    }
    & #hero {
      display: flex;
      justify-content: center;
      align-content: center;
      text-transform: capitalize;
      p {
        max-width: unset;
        font-size: 105%;
        line-height: 25px;
      }
    }
  }
}

//
@media screen and (min-width: 600px) {
  header {
    ul {
      display: none;
    }
  }
}
