nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  padding: 5px 3px;
  @include fade-overlay(0, 0, 0, 0.15);
  transition: all 300ms ease-in-out;
  background-color: transparent;
  border-radius: 0 0 7px 7px;
  //navigation item
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      margin: 0 $spacing;
    }
  }
  a,
  a:hover,
  a:visited,
  a:link {
    text-decoration: none;
    font-weight: 300;
    padding: 0;
    border: none;
    color: inherit;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0;
    width: 100%;
    transition: all 500ms ease-in-out;
    svg#navigation-toggle {
      padding: 3px 5px;
      box-sizing: content-box;
      border-radius: 4px;
      font-size: 25px;
      cursor: pointer;
    }
    ul.d-desktop-flex {
      position: absolute;
      top: 2rem;
      left: 0;
      width: 100%;
      background-color: inherit;
      transition: 0.5s;
      margin-top: 1rem;
      border-top: 2px solid transparent;
      width: 100%;
      padding: inherit;
      border-bottom: 2px solid $pink;
      border-radius: 0 0 7px 7px;
      @include box-shadow;
      border-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
      );
      background-color: inherit !important;
      z-index: 1200;
      & * {
        color: inherit !important;
      }
      li {
        margin: 0.75rem 0;
        transition: 0.5s;
        color: $black;
      }
      & a {
        color: inherit !important;
      }
      & a:hover {
        color: $pink;
        transition: 250ms;
      }
    }
  }
}

.nav-scroll {
  background-color: $white;
  color: $black;
  background-image: none;
}

.nav-link-scroll {
  color: $black;
}

.overlay {
  background-image: none;
}
