form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  margin: 3.5rem 0;

  & > * {
    @include base-button($border-radius: 0, $border-color: lighten($blue, 3%));
    text-align: unset;
  }
  input {
    grid-column: 4 / 8;
    border-right: none;
    border-radius: 4px 0 0 4px;
    text-align: center;
    padding: 12px;
  }

  input:hover,
  input:focus {
    outline: none;
  }
  input::placeholder {
    font-family: monospace;
    color: $grey;
  }
  button[type="submit"] {
    grid-column: 8 / 9;
    border-left: none;
    border-radius: 0 4px 4px 0;
    text-align: center;
    color: $white;
    background: $blue;
    font-weight: 500;
    padding: 12px;
  }
}

@media screen and (max-width: 600px) {
  form {
    input {
      grid-column: 1 / -1;
      border: 1px solid $grey;
      border-radius: 4px;
    }

    input::placeholder {
      content: "Search here";
    }
    button[type="submit"] {
      grid-column: 12 / -1;
      display: none;
      svg {
        font-size: 10px;
      }
    }
  }
}
