<div id="sign-up">
  <div class="container">
    <h1>Sign Up</h1>
    <p class="sub-hero-text">Choose a social account to begin</p>
    <div id="icons">
      <button>ff</button> <button>ff</button> <button>ff</button>
    </div>
    <form action="" method="post">
      <div class="form-feed">
        <label for="username">Username</label>
        <input type="text" placeholder="username" />
      </div>

      <div class="form-feed">
        <label for="password">Password</label>
        <input type="password" placeholder="password" />
      </div>

      <div class="form-control">
       <input type="checkbox" name="" id="">   I agree to <a href="#">terms of service</a> and
          <a href="#">privacy policy</a></label>
      </div>

      <div class="form-feed">
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
