main {
  @import "./../components/search-form";
  padding: $desktop-view-padding;
  margin: 3rem 0;
  ul {
    li {
      margin: $spacing 0;
      list-style-type: disc;
      a {
        @include anchor-regular($black, 400);
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    margin: 3rem 0;

    & > * {
      padding: 0 0.15rem;
    }
  }
}
