Hello world {{ name }} {{ age }}
{{ name }}


<h1>Hello App!</h1>
<p>
  <!-- use router-link component for navigation. -->
  <!-- specify the link by passing the `to` prop. -->
  <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
  <router-link to="/foo">Go to Foo</router-link>
  <router-link to="/bar">Go to Bar</router-link>
  <router-link to="/baz">Go to Bar</router-link>

</p>
<!-- route outlet -->
<!-- component matched by the route will render here -->
<router-view></router-view>

<v-btn class="mx-2" fab dark small color="primary">
  <v-icon dark> mdi-minus </v-icon>
</v-btn>
