//import partials
@import "./globals/variables";
@import "./globals/colors";
@import "./globals/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $grey-lightened;
}
h1 {
  margin: 0.75rem 0;
  line-height: 36px;
  font-size: 275%;
}

p {
  color: $grey;
  font-size: 1.2rem;
  line-height: 24px;
  margin: 1rem 0;
  a {
    color: $grey;
    text-decoration: 1px solid dotted;
  }

  @media screen and (max-width: 600px) {
    font-size: 1rem;
    margin: 1.75rem 0;
  }
}

svg {
  max-width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  text-align: center;
  overflow-x: hidden;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 6rem);
  }
}

a#cta {
  @include anchor-regular;
  @include base-button;
  display: block;
  text-transform: uppercase;
  padding: 0.75rem 0.9rem;
  color: $white;
  background-color: $blue;
  border: 1px dashed transparent;
  box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  line-height: 30px;
  font-size: 0.9rem;
  display: inline-block;
}
