
//import partials
@import "./globals/variables";
@import "./globals/colors";
@import "./globals/mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input {
    accent-color: $black
}

//classes
.d-desktop,
.d-mobile,
.d-desktop-flex {
    display: none;
}

.sub-hero-text {
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: 400;
    text-transform: lowercase !important;
    font-weight: 500;
}

.sub-hero-text::first-letter {
    text-transform: capitalize;
}

.d-block {
    display: block;
}

.nav-active {
    display: block;
    transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1) linear;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center !important;
}

.grey-text {
    color: $grey;
}

*[class*="error"] {
    color: $red !important;
}

h1 {
    line-height: 36px;
    font-size: 2.75rem;
}

@media screen and (max-width: 600px) {
    .d-mobile {
        display: unset;
    }
}

@media screen and (min-width: 600px) {
    .d-desktop {
        display: block;
    }

    .d-desktop-flex {
        display: flex;
    }
}
#account {
    display: flex;
    min-height: 100vh;
}

#account>* {
    padding-top: 60px !important;
}

#account aside {
    width: 20%;
    background-color: $grey-lightened;
    color: $black;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bi {
        display: none;
    }

    li {
        margin: 0 $spacing;
        cursor: pointer;
        margin-bottom: 35px;
        display: flex;
        column-gap: 15px;

    }

    a,
    a:hover,
    a:visited,
    a:link {
        text-decoration: none;
        padding: 0;
        border: none;
        color: inherit;
        font-size: 28px;
        text-align: left !important;
    }

    li a {
        color: $black !important;
        font-weight: 400 !important;
        font-size: 19px !important;

    }
}

#account main {
    /* Take the remaining width */
    flex: 1;
    /* Make it scrollable */
    overflow: auto;
    padding: 0 !important;

}

#account main .header {
    padding: 20px 60px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: $grey-lightened;
    display: none;
}

#account .nav {
    list-style: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
}

#account a {
    color: $black !important;
    text-decoration: none;
}

li a {
    font-weight: 400 !important;
    font-size: 19px !important;
}

#account main .container {
    padding: 40px 60px;
}

.bi-list {
    display: none;
}

@media screen and (max-width: 768px) {
    .header svg {
        cursor: pointer;
    }

    #account aside {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1700;
        background-color: rgba(0, 0, 0, 0.53);
        height: 100vh;
        padding: 0 !important;
        display: none;
        cursor: pointer;
    }

    #account aside ul {
        background-color: $white;
        margin: 0;
        position: relative;
        top: 0;
        height: inherit;
        width: 70%;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    #account {
        display: block;
        margin: 0;
        padding: 0;
    }

    .bi-list {
        display: block;
    }

    #account main .header {
        padding: $mobile-view-padding ;
        margin-bottom: 1.75rem;
        display: flex;
        background: $gradient-bg;

        &,
        a {
            color: $white !important;
        }
    }

    #account main .header .nav {
        display: flex;
        column-gap: 15px;
        align-items: center;
    }

    #account main .header .bi {
        margin-left: 10px;
    }

    #account main .container {
        padding: $mobile-view-padding ;
    }

    .container .greeting {
        margin-bottom: 1.5rem;
        text-transform: capitalize;

    }

    .greeting small {
        font-size: 1rem;
    }



}