* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.d-desktop,
.d-mobile,
.d-desktop-flex {
  display: none;
}

.sub-hero-text {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
  text-transform: lowercase;
  font-weight: 500;
}

.d-block {
  display: block;
}

h1 {
  line-height: 36px;
  font-size: 2.75rem;
}

@media screen and (max-width: 600px) {
  .d-mobile {
    display: unset;
  }
}
@media screen and (min-width: 600px) {
  .d-desktop {
    display: block;
  }

  .d-desktop-flex {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  main {
    grid-column: 1/-1;
  }

  nav {
    display: none;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  border-radius: 0 0 7px 7px;
}
nav a#logo {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid red;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin: 0 7.5px;
}
nav a,
nav a:hover,
nav a:visited,
nav a:link {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 400;
  padding: 0;
  border: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
  }
  nav svg#navigation-toggle {
    padding: 3px 5px;
    box-sizing: content-box;
    border-radius: 4px;
    font-size: 25px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  }
}
header {
  display: grid;
  grid-template-rows: 10px calc(90vh - 9rem - 10px);
  padding: 0 !important;
  min-height: calc(100vh - 5rem);
  align-content: space-between;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  color: #f2f2f2;
}
header #hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1 {
  text-align: center;
}
header p {
  margin: 1.75rem 0;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #eaeaea;
}
header p::first-letter {
  text-transform: capitalize !important;
}
header div#call-to-action {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}
header div#call-to-action a {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 10px 5px;
  min-width: 7rem;
  text-align: center;
  text-transform: capitalize;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  display: block;
  margin: 0 0.75rem;
  cursor: pointer;
}

header > * {
  padding: 0 3.5rem;
}

@media screen and (max-width: 600px) {
  header {
    grid-template-rows: 5px calc(90vh - 9rem - 10px);
  }
  header > * {
    padding: 0 1.5rem;
  }
  header #hero p {
    max-width: unset;
    font-size: 105%;
    line-height: 25px;
  }
}
@media screen and (min-width: 600px) {
  header ul {
    display: none;
  }
}
main {
  padding: 0 3.5rem;
  margin: 3rem 0;
}
main ul li {
  margin: 7.5px 0;
  list-style-type: disc;
}
main ul li a {
  color: #101010;
  text-decoration: none;
  font-weight: 400;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  main {
    margin: 3rem 0;
  }
  main > * {
    padding: 0 0.15rem;
  }
}
footer {
  font-size: 80%;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
  color: #171717;
  padding: 7.5px;
}
footer img {
  display: inline-block;
  margin: 0 3px;
}

#sign-up {
  display: grid;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 3.5rem;
  background-color: #f2f2f2;
  grid-template-columns: repeat(12, 1fr);
}
#sign-up .container {
  grid-column-start: 5;
  grid-column-end: 9;
  background-color: #fff;
  border-radius: 5px;
  padding: inherit;
}
#sign-up .container h1 {
  font-size: 1.75rem;
  text-align: center;
}
#sign-up .container .sub-hero-text {
  font-size: 1rem;
  margin: 1.25rem 0;
  text-align: center;
}
#sign-up .container div#icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 22.5px;
  text-align: center;
}
#sign-up .container div#icons button {
  border: 1px solid #6a7cda;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 5px;
  text-align: center;
}
#sign-up .container form {
  display: block;
  width: 100%;
}
#sign-up .container form .form-feed > *,
#sign-up .container form .form-feed {
  display: block;
  width: 100%;
}
#sign-up .container form .form-feed {
  border-color: transparent;
}
#sign-up .container form .form-feed label {
  margin-bottom: 0.25rem;
  color: #101010;
  font-weight: 500;
}
#sign-up .container form .form-feed input,
#sign-up .container form .form-feed button {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid gray;
  width: 100%;
}
#sign-up .container form .form-feed input {
  text-align: unset;
}
#sign-up .container form .form-feed input[type=checkbox] {
  display: inline !important;
}
#sign-up .container form .form-control {
  border: transparent;
  text-transform: lowercase;
  font-size: 90%;
  color: #7d7d7d;
}

/*# sourceMappingURL=index.css.map */
