* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.d-desktop,
.d-mobile,
.d-desktop-flex {
  display: none;
}

.sub-hero-text {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
  text-transform: lowercase !important;
  font-weight: 500;
}

.d-block {
  display: block;
}

.nav-active {
  display: block;
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1) linear;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center !important;
}

*[class*=error] {
  color: rgba(233, 41, 41, 0.9450980392) !important;
}

h1 {
  line-height: 36px;
  font-size: 2.75rem;
}

@media screen and (max-width: 600px) {
  .d-mobile {
    display: unset;
  }
}
@media screen and (min-width: 600px) {
  .d-desktop {
    display: block;
  }

  .d-desktop-flex {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  main {
    grid-column: 1/-1;
  }

  nav {
    display: none;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  padding: 5px 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  transition: all 300ms ease-in-out;
  background-color: transparent;
  border-radius: 0 0 7px 7px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin: 0 7.5px;
}
nav a,
nav a:hover,
nav a:visited,
nav a:link {
  text-decoration: none;
  font-weight: 300;
  padding: 0;
  border: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0;
    width: 100%;
    transition: all 500ms ease-in-out;
  }
  nav svg#navigation-toggle {
    padding: 3px 5px;
    box-sizing: content-box;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
  }
  nav ul.d-desktop-flex {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    background-color: inherit;
    transition: 0.5s;
    margin-top: 1rem;
    border-top: 2px solid transparent;
    width: 100%;
    padding: inherit;
    border-bottom: 2px solid #c850c0;
    border-radius: 0 0 7px 7px;
    box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
    border-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    background-color: inherit !important;
    z-index: 1200;
  }
  nav ul.d-desktop-flex * {
    color: inherit !important;
  }
  nav ul.d-desktop-flex li {
    margin: 0.75rem 0;
    transition: 0.5s;
    color: #101010;
  }
  nav ul.d-desktop-flex a {
    color: inherit !important;
  }
  nav ul.d-desktop-flex a:hover {
    color: #c850c0;
    transition: 250ms;
  }
}
.nav-scroll {
  background-color: #f2f2f2;
  color: #101010;
  background-image: none;
  box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
}

.nav-link-scroll {
  color: #101010;
}

.overlay {
  background-image: none;
}

header {
  display: grid;
  grid-template-rows: 10px auto auto;
  padding: 0 !important;
  min-height: calc(97vh - 5rem);
  align-content: space-between;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  color: #f2f2f2;
  position: relative;
}
header#resource-header {
  min-height: 50vh;
}
header#resource-header h1 {
  text-transform: capitalize;
  text-align: center !important;
}
header #hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
header h1 {
  text-align: center;
}
header p {
  margin: 1.75rem 0;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #eaeaea;
}
header p::first-letter {
  text-transform: capitalize !important;
}
header div#call-to-action {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}
header div#call-to-action a,
header div#call-to-action a:link,
header div#call-to-action a:hover,
header div#call-to-action a:visited {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 10px 5px;
  min-width: 7rem;
  text-align: center;
  text-transform: capitalize;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  text-decoration: none;
  color: #f2f2f2;
  display: block;
  margin: 0 0.75rem;
  cursor: pointer;
}

header > * {
  padding: 0 3.5rem;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: calc(85vh - 25px);
  }
  header#resource-header {
    max-height: 50vh;
    grid-template-rows: calc(65vh - 20px);
  }
  header#resource-header h1,
header#resource-header h2,
header#resource-header h3 {
    line-height: 56px;
    font-size: 2.5rem;
  }
  header > * {
    padding: 0 1.5rem;
  }
  header #hero {
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: capitalize;
  }
  header #hero p {
    max-width: unset;
    font-size: 105%;
    line-height: 25px;
  }
}
@media screen and (min-width: 600px) {
  header ul {
    display: none;
  }
}
main {
  padding: 0 3.5rem;
  margin: 3rem 0;
}
main form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  margin: 3.5rem 0;
}
main form > * {
  border: 1px solid #4d63d3;
  border-radius: 0;
  padding: 10px 5px;
  min-width: 7rem;
  text-align: center;
  text-transform: capitalize;
  text-align: unset;
}
main form input {
  grid-column: 4/8;
  border-right: none;
  border-radius: 4px 0 0 4px;
  text-align: center;
  padding: 12px;
}
main form input:hover,
main form input:focus {
  outline: none;
}
main form input::placeholder {
  font-family: monospace;
  color: #7d7d7d;
}
main form button[type=submit] {
  grid-column: 8/9;
  border-left: none;
  border-radius: 0 4px 4px 0;
  text-align: center;
  color: #f2f2f2;
  background: #4158d0;
  font-weight: 500;
  padding: 12px;
}
@media screen and (max-width: 600px) {
  main form input {
    grid-column: 1/-1;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
  }
  main form input::placeholder {
    content: "Search here";
  }
  main form button[type=submit] {
    grid-column: 12/-1;
    display: none;
  }
  main form button[type=submit] svg {
    font-size: 10px;
  }
}
main ul li {
  margin: 1rem 0;
  list-style-type: disc;
}
main ul li a {
  color: #101010;
  text-decoration: none;
  font-weight: 400;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  main {
    margin: 3rem 0;
  }
  main > * {
    padding: 0 0.15rem;
  }
}
footer {
  font-size: 80%;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
  color: #171717;
  padding: 7.5px;
  padding: 2rem 0;
}
footer img,
footer a {
  display: inline-block;
  margin: 0 3px;
}
footer a#opeolluwa {
  color: #101010;
  text-decoration: underline;
  text-decoration-color: #7d7d7d;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  padding: 15px;
}
.card-container .card {
  border: 3px solid #fafafa;
  padding: 1.75rem 1.2rem;
  border-radius: 5px;
  box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -3px 5px 16px -10px rgba(0, 0, 0, 0.53);
  line-height: 30px;
}
.card-container h3 {
  line-height: 32px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.card-container .icon-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.card-container .icon {
  color: #7d7d7d;
  display: flex;
  align-items: center;
  margin-right: 10.5px;
  font-size: 17px;
  justify-content: space-between;
}
.card-container .icon img {
  display: inline-block;
  margin-right: 2px;
}
.card-container img.snapshot {
  object-fit: contain;
  max-width: 100% !important;
  margin: 0 !important;
  max-height: 45%;
}
.card-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }
  .card-container .card {
    padding: 1.75rem 1.2rem;
  }
}
#account {
  display: grid;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 3.5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(100px 35vh) minmax(100px 35vh) 10px;
  row-gap: 1.75rem;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
#account .container {
  grid-column-start: 5;
  grid-column-end: 9;
  background-color: #fff;
  border-radius: 5px;
  padding: inherit;
}
#account [data-guide=footer] {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: -3;
  background: transparent;
  font-size: 80%;
  color: #f2f2f2;
}
#account [data-guide=footer] hr {
  color: white;
  width: 50%;
  display: flex;
  opacity: 0.5;
  margin: 0.75rem auto;
}
#account [data-guide=footer] > div {
  text-align: center;
  margin-top: 0.25rem;
  color: #d9d9d9;
}
#account [data-guide=footer] > div a#opeolluwa {
  text-decoration: underline;
}
#account [data-guide=footer] > div img {
  max-width: 16px;
  position: relative;
  bottom: -5px;
}
#account [data-guide=footer] ul {
  display: block;
  margin: 1rem 0;
}
#account [data-guide=footer] ul li:first-child, #account [data-guide=footer] ul li {
  list-style: none;
  margin: 0.25rem 0;
  text-align: center;
}
#account [data-guide=footer] ul li:first-child ::before {
  display: none;
}
#account [data-guide=footer] ul li:nth-child(2) {
  margin: unset;
}
#account [data-guide=footer] a, #account [data-guide=footer] span, #account [data-guide=footer] ul li a {
  text-decoration: none;
  color: #f2f2f2;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  #account {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  #account .container {
    padding: 2rem;
  }
  #account [data-guide=footer] hr {
    width: 90%;
    height: 1px;
    margin: 5px auto;
  }
}
#account .success-icon {
  min-width: 100px;
  max-width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}
#account .container {
  box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
}
#account .container h1 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 300;
}
#account .container .sub-hero-text {
  font-size: 1rem;
  margin: 0.25rem 0;
  text-align: center;
  color: #7d7d7d;
  text-transform: capitalize;
}
#account .container form {
  margin-top: 3rem;
  display: block;
  width: 100%;
}
#account .container form .form-feed > *,
#account .container form .form-feed {
  display: block;
  width: 100%;
}
#account .container form .form-feed > * span,
#account .container form .form-feed span {
  font-size: 80%;
  color: #7d7d7d;
  margin-top: 1px;
}
#account .container form .form-feed {
  border-color: transparent;
  margin: 1.5rem 0;
}
#account .container form .form-feed label {
  margin-bottom: 0.25rem;
  color: #101010;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 70%;
}
#account .container form .form-feed input,
#account .container form .form-feed button,
#account .container form .form-feed textarea,
#account .container form .form-feed select,
#account .container form .form-feed option {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid gray;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
}
#account .container form .form-feed input, #account .container form .form-feed textarea {
  text-align: unset;
}
#account .container form .form-feed input:focus, #account .container form .form-feed input:hover, #account .container form .form-feed textarea:hover, #account .container form .form-feed textarea:focus {
  outline: 1px solid transparent;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#account .container form .form-feed input[type=checkbox] {
  display: inline !important;
}
#account .container form .form-feed input.input-error {
  border: 1px solid rgba(233, 41, 41, 0.9450980392);
}
#account .container form .form-feed input.no-input-error {
  border: 1px solid rgb(46, 136, 46);
}
#account .container form .form-control {
  border: transparent;
  font-size: 80%;
  width: 100%;
}
#account .container form button[type=submit] {
  background-color: #3149c6;
  color: #f2f2f2;
  cursor: pointer;
}
#account .container [data-guide=sign-up] {
  font-size: 80%;
  text-align: center;
}
#account .container [data-guide=login] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 80%;
  margin: 2rem 0 0;
}
#account .container [data-guide=forgotten-password] {
  display: flex;
  justify-items: flex-end;
  display: none;
  font-size: 80%;
  margin: 1px 0;
}
#account .container ::placeholder,
#account .container option,
#account .container select {
  text-transform: lowercase;
  font-size: 75%;
  color: #7d7d7d;
}
#account .container select,
#account .container option {
  color: #101010;
}
#account .container [data-guide=login] > span {
  display: block;
  margin: 0.25rem 0;
  text-align: center;
}
#account .container [data-guide=login] {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #account .success-icon {
    min-width: 100px;
    max-width: 50%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }
  #account {
    padding: 3rem 1.25rem;
  }
  #account .container {
    padding: inherit;
  }
  #account .container [data-guide=login] {
    display: block;
    text-align: unset;
  }
  #account .container [data-guide=login] > span {
    display: block;
    margin: 0.45rem 0;
  }
  #account .container h1 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  #account .container p.sub-hero-text {
    font-size: 85%;
    margin: 0 0;
  }
  #account .container form {
    margin-top: 2rem;
    display: block;
    width: 100%;
  }
  #account .container form .form-feed {
    border-color: transparent;
    margin: 1.5rem 0;
  }
  #account .container form .form-feed label {
    margin-bottom: 0;
    color: #101010;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 70%;
  }
  #account .container form .form-feed input,
#account .container form .form-feed button,
#account .container form .form-feed select,
#account .container form .form-feed textarea,
#account .container form .form-feed option {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #828282;
    width: 100%;
    font-size: 0.9rem;
  }
  #account .container form .form-feed select,
#account .container form .form-feed option {
    font-size: 85%;
  }
  #account .container form .form-feed input {
    text-align: unset;
  }
  #account .container form .form-feed input[type=checkbox] {
    display: inline !important;
  }
  #account .container form .form-control {
    border: transparent;
    font-size: 70%;
    width: 100%;
  }
  #account .container form button[type=submit] {
    background-color: #3149c6;
    color: #f2f2f2;
  }
}

#user-account {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh;
}
#user-account nav {
  grid-column: 1/3;
  background: #fafafa;
  padding: 3rem 1.5rem;
  border-radius: 0;
  display: block;
  text-align: unset;
  border-right: 1px solid #ededed;
  min-height: 100vh;
}
#user-account nav .header {
  display: none;
}
#user-account nav .user-avatar-and-name {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}
#user-account nav .user-avatar-and-name.name span,
#user-account nav .user-avatar-and-name.name strong {
  display: block;
  color: #7d7d7d;
}
#user-account nav .user-avatar-and-name.name span {
  font-size: 70%;
}
#user-account nav h4 {
  text-transform: uppercase;
}
#user-account nav hr.divider {
  color: transparent;
  width: 90%;
  display: flex;
  opacity: 0.5;
  margin: 2.75rem auto;
}
#user-account nav ul {
  margin: 0;
  display: block;
}
#user-account nav ul li {
  list-style: none;
  margin-bottom: 1.75rem;
  margin-left: 0.75rem;
  text-transform: capitalize;
}
#user-account nav ul li:first-child {
  margin-top: 1.25rem;
}
#user-account nav ul svg {
  display: inline-block;
  margin-right: 0.75rem;
}
#user-account nav ul li a {
  color: grey;
  text-decoration: none;
  font-weight: 300;
  font-weight: 500;
  display: flex;
  align-items: center;
}
#user-account nav ul li a:hover {
  color: #4158d0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}
#user-account .avatar {
  border: 1px solid #ededed;
  min-width: 50px;
  min-height: 50px;
}
#user-account .avatar img {
  display: block;
  width: 50px;
  height: 50px;
  max-width: 100%;
  object-fit: fit;
  border-radius: 50%;
}
#user-account a.logout-button {
  width: 100%;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  border: 1px solid transparent;
  box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  align-self: center;
  flex-direction: row-reverse;
  background: #4158d0;
  justify-content: center;
  border-radius: 5px;
  padding: 7.5px;
  position: relative;
  bottom: 0 !important;
  margin-top: 4rem;
  cursor: pointer;
}
#user-account a.logout-button svg {
  display: inline-block;
  margin: 0 0.75rem;
  color: #fafafa;
  max-width: 18px;
}
#user-account .close-btn {
  display: none;
}
@media screen and (max-width: 600px) {
  #user-account nav {
    height: unset;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 0.25rem;
    width: 0;
    color: #101010;
    min-height: unset;
  }
  #user-account nav ul li {
    padding-left: 2rem;
  }
  #user-account nav a {
    transition: 0.3s;
  }
  #user-account nav a:hover {
    color: #f1f1f1;
  }
  #user-account nav h4 {
    display: none;
  }
  #user-account nav .close-btn {
    position: absolute;
    top: 10px;
    right: 5rem;
    font-size: 36px;
    margin-left: 50px;
    width: 10px;
    height: 10px;
    border: 1px solid inherit;
    color: inherit;
  }
  #user-account nav .close-btn:hover {
    color: #101010;
  }
  #user-account nav .user-avatar-and-name {
    display: none;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  #user-account nav .user-avatar-and-name .name {
    display: flex;
    flex-direction: column;
  }
  #user-account nav a.logout-button {
    margin: 0 5%;
  }
}
#user-account main {
  padding: 0 3.5rem;
  grid-column: 3/10;
}
#user-account main .header {
  display: none;
}
#user-account main h4 + span {
  display: block;
  margin-bottom: 2rem;
  font-size: 85%;
}
#user-account main section {
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  #user-account main {
    padding: 0;
    margin: 0;
  }
  #user-account main .header {
    display: flex;
    min-height: 50px;
    align-items: center;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    color: #f2f2f2;
    justify-content: space-between;
  }
  #user-account main .header a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 300;
  }
  #user-account main .header svg {
    cursor: pointer;
  }
  #user-account main > * {
    padding: 0 1rem;
  }
  #user-account main h4 {
    margin-top: 2.27rem;
  }
  #user-account main section {
    border-radius: 5px;
  }
}
#user-account aside {
  border-left: 1px solid #ededed;
  grid-column: 10/13;
  padding: 3rem 1.5rem;
}

@media screen and (max-width: 600px) {
  .user-avatar-and-name {
    display: block;
  }

  #user-account {
    display: block;
    /* & nav, */
  }
  #user-account aside {
    display: none;
  }
}
.section {
  box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -3px 19px 32px -10px rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  margin: 0 1.2rem;
  padding: 0.75rem 0.25rem;
}

#resource-content main {
  padding: 1.5rem 1rem;
}
@media screen and (max-width: 600px) {
  #resource-content main {
    margin: 2rem 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#account .otp {
  display: flex;
  margin: 1.5rem;
  column-gap: 3px;
  justify-content: center;
  align-items: center;
}
#account .otp input {
  padding: 7.5px;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #7d7d7d;
  text-transform: unset !important;
}
#account .otp input:hover,
#account .otp input:focus {
  border-color: #4158d0;
  outline: none;
  border-width: 2px;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 600px) {
  #account .otp {
    display: grid;
    grid-template-columns: repeat(6, auto);
  }
  #account .otp input {
    max-width: 30px;
    max-height: 30px;
  }
}

.loader {
  border: 5px solid #f3f3f3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top: 5px solid #4158d0;
  animation: spin 1300ms ease-in-out infinite;
  transition: all linear 350ms;
  margin: 1.75rem auto;
  display: none;
}
@media screen and (max-width: 600px) {
  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #4158d0;
  }
}

/*# sourceMappingURL=index.css.map */
