//import partials
@import "./globals/variables";
@import "./globals/colors";
@import "./globals/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

//classes
.d-desktop,
.d-mobile,
.d-desktop-flex {
  display: none;
}
.sub-hero-text {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
  text-transform: lowercase;
  font-weight: 500;
}
.d-block {
  display: block;
}
h1 {
  line-height: 36px;
  font-size: 2.75rem;
}
@media screen and (max-width: 600px) {
  .d-mobile {
    display: unset;
  }
}

@media screen and (min-width: 600px) {
  .d-desktop {
    display: block;
  }
  .d-desktop-flex {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  main {
    grid-column: 1/-1;
  }
  nav {
    display: none;
  }
}
//components
@import "./components/navigation";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./pages/account";
