main {
  padding: $desktop-view-padding;
  grid-column: 3 /10;
  .container {
    padding: 3rem 1.5rem;
  }
  @media screen and(max-width:600px) {
    .view,
    .container {
      margin-top: 75px;
    }
  }
}
