header>* {
    padding: $desktop-view-padding;
}

#hero {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding-top: 20px;
    // background-image: url(../../images/hero-background.svg);
    background-position: bottom left;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-origin: border-box;

    #hero__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        line-height: 42px;
        font-weight: 700;
    }

    p {
        margin: 1.75rem 0;
        justify-content: center;
        line-height: 36px;
        max-width: 75%;
    }

    //call to action
    #call__to__action {
        margin-bottom: 3rem;
        display: flex;
        column-gap: 15px;

        a {
            text-decoration: none;
            display: flex;
            width: fit-content;
            border-radius: 3px;
            color: $black;
            cursor: pointer;
            font-weight: 500;
        }

        a:last-child {
            background-color: $grey-lightened;
            color: $black;
        }

        a:hover {
            background-color: $grey-lightened;
            transition: 300ms ease;
        }

        a:last-child:hover {
            background-color: transparent;
        }
    }

    img {
        max-width: 100%;
        object-fit: contain;
        display: block;
    }
}

//small screens
@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: (calc(85vh - 25px));

        &#resource-header {
            max-height: 50vh;
            grid-template-rows: calc(65vh - 20px);

            h1,
            h2,
            h3 {
                line-height: 56px;
                font-size: 2.5rem;
            }
        }

        &>* {
            padding: 0 1.5rem;
        }

        & #hero {
            display: flex;
            justify-content: center;
            align-content: center;
            text-transform: capitalize;

            p {
                max-width: unset;
                font-size: 105%;
                line-height: 25px;
            }
        }
    }
}

//
@media screen and (min-width: 600px) {
    header {
        ul {
            display: none;
        }
    }
}