header>* {
    padding: $desktop-view-padding;
    // padding-top: 0;
    // padding-bottom: 0;
}

#hero {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    justify-content: space-between;
    align-items: center;
    background: $gradient-bg;
    padding: 40px unset;
    color: $white;
    // background-image: url(../../images/hero-background.svg);
    background-position: bottom left;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-origin: border-box;

    #hero__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        line-height: 42px;
        font-weight: 700;
    }

    p {
        margin: 1.75rem 0;
        justify-content: center;
        line-height: 36px;
        max-width: 75%;
        font-weight: 400;
        text-align: center;
    }

    //call to action
    #call__to__action {
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 2.5rem;
        min-width: 200px;
        padding: .25rem 1.2rem;
        justify-content: center;

        a {
            text-decoration: none;
            display: flex;
            color: $black;
            cursor: pointer;
            font-weight: 500;
            transition: 300ms ease;
            border: none;
        }



    }

    #call__to__action:hover {
        background-color: $black;
        color: $white;
        text-decoration: none;

        span {
            color: $white;
        }

        i {
            margin-left: 0.5rem;
            color: $wine;
        }
    }

    img {
        max-width: 100%;
        object-fit: contain;
        display: block;
    }
}



//small screens
@media screen and (max-width: 746px) {
    header {
        display: block;
        flex-direction: column;
        justify-content: center;

        &#resource-header {
            max-height: 50vh;
            grid-template-rows: calc(65vh - 20px);
        }

        &>* {
            padding: 0 1.5rem;
        }

        h1 {
            font-size: 2.5rem;
            line-height: 36px;
        }

        & #hero {
            display: block;
            justify-content: center;
            align-content: center;
            text-transform: capitalize;
            padding-top: 3.5rem;

            p {
                max-width: unset;
                font-size: 1.2rem;
                line-height: 32px;
            }

            #call__to__action {
                margin-top: -.2rem;
            }
        }
    }

    #hero {
        min-height: calc(65vh);

    }
}

//
@media screen and (min-width: 600px) {
    header {
        ul {
            display: none;
        }
    }
}



// the main content 
main {
    #about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1200px;
        flex-direction: column;
        padding: $desktop-view-padding;
        padding-top: 60px;

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 36px;
            text-align: center;
            margin-bottom: 3rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 24px;
            margin: 0.5rem 1rem;
            text-align: center;
        }
    }

    #categories {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1200px;
        flex-direction: row;
    }


    #categories .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #categories .category h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 36px
    }

    #categories .category p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 28px;
        margin: 0.5rem 0;
        padding: .25rem .75rem;
        color: $grey
    }


    #categories .category .bi {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    #categories .category:first-child i {
        color: $wine;
    }

    #categories .category:nth-child(2) i {
        color: $orange;
    }

    #categories .category:last-child i {
        color: $purple-light;
    }

    @import "./../components/search-form";
    padding: $desktop-view-padding;


    ul {
        li {
            margin: 1rem 0;
            list-style-type: disc;

            a {
                @include anchor-regular($black, 400);
                text-decoration: underline;
            }
        }
    }

    #some {
        background-color: $grey-lightened;
        padding: 1rem 0;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 0;

        #about {
            padding: 0 1.5rem;
        }

        #categories {
            padding: 0 1.5rem;
        }
    }

    #about #categories {
        flex-direction: column;
    }

    #about .category {
        padding: 0;
        width: unset;
        margin-top: 65px;
    }

    #about .category:first-child {
        margin-top: 75px;
    }

    #about .category:last-child {
        margin-bottom: 75px;
    }

    #about .category h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
        margin-bottom: 3rem;
    }

    #about .category p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin: 0.5rem 1rem;
        text-align: center;
    }

    #categories .category .bi {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}