#account {
  @include auth-layout;
  background-color: $grey-lightened;
  @media screen and (max-width: 600px) {

    //for successful registration icon
    & .success-icon {
      min-width: 100px;
      max-width: 50%;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
    }

    & {
      padding: 3rem 1.25rem;
    }

    & .container {
      padding: inherit;

      & [data-guide="login"] {
        display: block;
        text-align: unset;
      }

      & [data-guide="login"]>span {
        display: block;
        margin: 0.45rem 0;
      }

      h1 {
        font-size: 1.25rem;
        font-weight: 400;
      }

      p.sub-hero-text {
        font-size: 85%;
        margin: 0 0;
      }

      form {
        margin-top: 2rem;
        display: block;
        width: 100%;

        .form-feed {
          border-color: transparent;
          margin: 1.5rem 0;

          label {
            margin-bottom: 0;
            color: $black;
            line-height: 26px;
            text-transform: uppercase;
            font-size: 70%;
          }

          input,
          button,
          select,
          textarea,
          option {
            padding: 10px;
            border-radius: 3px;
            border: 1px solid lighten($grey, 2%);
            width: 100%;
            font-size: 0.9rem;
          }

          select,
          option {
            font-size: 85%;
          }

          input {
            text-align: unset;
          }

          & input[type="checkbox"] {
            display: inline !important;
          }
        }

        .form-control {
          border: transparent;
          font-size: 70%;
          width: 100%;
        }

        button[type="submit"] {
          background-color: darken($blue, 5%);
          color: $white;
        }
      }
    }
  }
}

#account .success-icon {
  min-width: 100px;
  max-width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}



#account .container {
  @include box-shadow;

  h1 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 300;
  }

  .sub-hero-text {
    font-size: 1rem;
    margin: 0.25rem 0;
    text-align: center;
    color: $grey;
    text-transform: capitalize;
  }

  [data-guide="sign-up"] {
    font-size: 80%;
    text-align: center;
  }

  [data-guide="login"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 80%;
    margin: 2rem 0 0;
  }

  [data-guide="forgotten-password"] {
    display: flex;
    justify-items: flex-end;
    display: none;
    font-size: 80%;
    margin: 1px 0;
  }

  ::placeholder,
  option,
  select {
    text-transform: lowercase;
    font-size: 75%;
    color: $grey;
  }

  select,
  option {
    color: $black;
  }

  & [data-guide="login"]>span {
    display: block;
    margin: 0.25rem 0;
    text-align: center;
  }

  & [data-guide="login"] {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

#account .container form {
  margin-top: 3rem;
  display: block;
  width: 100%;

  .form-feed>*,
  .form-feed {
    display: block;
    width: 100%;

    span {
      font-size: 80%;
      color: $grey;
      margin-top: 1px;
    }
  }

  .form-feed {
    border-color: transparent;
    margin: 1.5rem 0;

    label {
      margin-bottom: 0.25rem;
      color: $black;
      line-height: 24px;
      text-transform: uppercase;
      font-size: 70%;
    }

    input,
    button,
    textarea,
    select,
    option {
      padding: 12px;
      border-radius: 3px;
      border: 1px solid gray;
      width: 100%;
      font-size: 1rem;
      background-color: transparent;
    }

    & input,
    & textarea {
      text-align: unset;
    }

    & input:focus,
    & input:hover,
    & textarea:hover,
    & textarea:focus {
      outline: 1px solid transparent;
      transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    & input[type="checkbox"] {
      display: inline !important;
    }

    & input.input-error {
      border: 1px solid $red;
    }

    & input.no-input-error {
      border: 1px solid $green;
    }
  }

  .form-control {
    border: transparent;
    font-size: 80%;
    width: 100%;
  }

  button[type="submit"] {
    background-color: darken($black, 5%);
    color: $white;
    cursor: pointer;
  }
}