<div data-guide="footer">
  <ul>
    <li>
      <a href="/privacy-policy">Home</a>
    </li>
    <li>
      <a href="/cookie-policy">Account</a>
    </li>
    <li>
      <a href="/terms-of-use">Contact</a>
    </li>
  </ul>


  <ul>
    <li>
      <a href="/privacy-policy">Privacy Policy</a>
    </li>
    <li>
      <a href="/cookie-policy">Terms of Service</a>
    </li>
    <li>
      <a href="/terms-of-use">Cookie Policy</a>
    </li>
  </ul>
  <div>
    <hr>
    made with <img src="/icons/hearts.png" width="18px" /> by<a
      href="https://www.linkedin.com/in/adeoye-adefemi-opeoluwa-0669b41b5"
      class="px-1 small"
      id="opeolluwa"
      ><!-- ᗪ尺丨乙乙ㄥ乇丂 -->
      Ọpẹ́olúwa
    </a>
  </div>
</div>
