<ul>
  <li>
    <a href="/privacy-policy">Privacy Policy</a>
  </li>
  <li>
    <a href="/cookie-policy">Terms of Service</a>
  </li>
  <li>
    <a href="/terms-of-use">Cookie Policy</a>
  </li>
</ul>
