<div>
  <div>
    made with <i class="bi bi-heart-fill"></i> by<a href="https://twitter.com/_opeolluwa" class="px-1 small"
      id="opeolluwa"><!-- ᗪ尺丨乙乙ㄥ乇丂 -->
      Ọpẹ́olúwa
    </a>
  </div>
  <ul>
    <li>
      <a href="https://github.com/opeolluwa">
        <i class="bi bi-github"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/_opeolluwa">
        <i class="bi bi-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/adeoye-ao">
        <i class="bi bi-linkedin"></i>
      </a>
    </li>

  </ul>
</div>