<div id="hero">
  <h1>Meta Data</h1>
  <p class="sub-hero-text">
    A collection of open source and closed source images, code snippets,
    repositories, templates and more for designers, web and hybrid application
    developers!
  </p>
  <div id="call-to-action">
    <a href="/explore">Explore</a>
    <a href="/register">Add Yours</a>
  </div>
<!-- --------------shape divider------------ -->
</div>
