<div id="logo">
  <a href="/">meta-data</a>
</div>

<div class="d-mobile" id="nav-btn">
  <svg
    id="navigation-toggle"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-menu"
  >
    <line x1="3" y1="12" x2="21" y2="12"></line>
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <line x1="3" y1="18" x2="21" y2="18"></line>
  </svg>
</div>

<ul class="d-desktop-flex" id="navigation">
  <li>
    <a href="/r/animation">Animations</a>
  </li>
  <li>
    <a href="/r/icon">Icons</a>
  </li>
  <li>
    <a href="/r/illustrations">Illustrations</a>
  </li>

  <li>
    <a href="/r/code-snippets"> Snippets</a>
  </li>
  <li>
    <a href="/r/images">Images</a>
  </li>
  <li>
    <a href="/r/svg">SVG </a>
  </li>
  <li>
    <a href="#"> Others</a>
  </li>
</ul>
