<ul>
  <li>
    <a href="/animation">
      Animation
    </a>
  </li>

  <li>
    <a href="/css-code-generator">
      CSS Code Generator
    </a>
  </li>

  <li>
    <a href="/design-inspiration">Design Inspiration</a>

  </li>

  <li>
    <a href="icon-libraries">Icon libraries</a>


  </li>

  <li>
    <a href="/images">Images</a>
  </li>

  <li>
    <a href="/javascript-ui-libraries">JavaScript UI libraries</a>
  </li>

  <li>
    <a href="/svg-illustrations-shapes-and-backgrounds">svg illustrations,shapes and backgrounds</a>
  </li>

  </li>


  <li>
    <a href="/ui-templates-and-patters">UI templates &amp; patterns</a>
  </li>

  <li>
    <a href="/work-arounds"> collection of Frontend and backend libraries </a>
  </li>

  <li>
    <a href="/mobile-libraries">Mobile application builders and compliers</a>
  </li>
  <li>
    <a href="/more"> more ...</a>
  </li>


</ul>