<ul>
  <li>
    <a href="/animation">
      Animation
    </a>
  </li>

  <li>
    <a href="css-code-generator">
      CSS Code Generator
    </a>
  </li>

  <li>
    <a href="">Snippets</a>

  </li>

  <li>
    <a href=""> Illustrations</a>


  </li>

  <li>
    <a href="">Icons</a>
  </li>

  <li>
    <a href="">Images</a>
  </li>

  <li>
    <a href="">SVG</a>
  </li>

  </li>


  <li>
    <a href="/css-code-generator">CSS Code Genarator</a>
  </li>

  <li>
    <a href=""> Snippets</a>
  </li>

  <li>
    <a href=""> Illustrations</a>
  </li>

  <li>
    <a href="">Icons</a>
  </li>

  <li>
    <a href="">Images</a>
  </li>

  <li>
    <a href="">SVG</a>
  </li>
</ul>