<ul>
  <li><a href="/r/animation">Animation</a></li>
  <li><a href="/r/css-code-generator"> CSS Code Generator</a></li>
  <li><a href="/r/design-inspiration">Design Inspiration</a></li>
  <li><a href="/r/icon-libraries">Icon libraries</a></li>
  <li><a href="/r/images">Images</a></li>
  <li><a href="/r/javascript-ui-libraries">JavaScript UI libraries</a></li>
  <li>
    <a href="/r/svg-illustrations-shapes-and-backgrounds"
      >svg illustrations,shapes and backgrounds</a
    >
  </li>
  <li><a href="/r/ui-templates-and-patters">UI templates &amp; patterns</a></li>
  <li>
    <a href="/r/work-arounds"> collection of Frontend and backend libraries </a>
  </li>
  <li>
    <a href="/r/mobile-libraries">Mobile application builders and compliers</a>
  </li>
  <li><a href="/r/more"> more ...</a></li>
</ul>
