nav {
  grid-column: 1 / 3;
  background: $grey-lightened;
  padding: 3rem 1.5rem;
  border-radius: 0;
  display: block;
  text-align: unset;
  border-right: 1px solid $user-account-border;
  min-height: 100vh;
  .header {
    display: none;
  }
  .user-avatar-and-name {
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  .user-avatar-and-name.name {
    span,
    strong {
      display: block;
      color: $grey;
    }
    span {
      font-size: 70%;
    }
  }

  h4 {
    text-transform: uppercase;
  }

  hr.divider {
    color: transparent;
    width: 90%;
    display: flex;
    opacity: 0.5;
    margin: 2.75rem auto;
  }
  ul {
    margin: 0;
    display: block;
    li {
      list-style: none;
      margin-bottom: 1.75rem;
      margin-left: 0.75rem;
      text-transform: capitalize;
    }
    li:first-child {
      margin-top: 1.25rem;
    }
    svg {
      display: inline-block;
      margin-right: 0.75rem;
    }
    & li a {
      @include anchor-regular($color: grey);
      font-weight: 500;
      display: flex;
      align-items: center;
    }

    li a:hover {
      color: $blue;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
    }
  }
}

.avatar {
  border: 1px solid $user-account-border;
  min-width: 50px;
  min-height: 50px;
  img {
    display: block;
    width: 50px;
    height: 50px;
    max-width: 100%;
    object-fit: fit;
    border-radius: 50%;
  }
}

a.logout-button {
  width: 100%;
  display: flex;
  align-items: center;
  color: $white;
  border: 1px solid transparent;
  @include box-shadow;
  align-self: center;
  flex-direction: row-reverse;
  background: $blue;
  justify-content: center;
  border-radius: 5px;
  padding: 7.5px;
  position: relative;
  bottom: 0 !important;
  margin-top: 4rem;
  cursor: pointer;
  svg {
    display: inline-block;
    margin: 0 0.75rem;
    color: $grey-lightened;
    max-width: 18px;
  }
  // display: none;
}

@media screen and (max-width: 600px) {
  nav {
    height: unset;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 0.25rem;
    width: 0;
    color: $black;
    min-height: unset;
    ul li {
      padding-left: 2rem;
    }

    a {
      transition: 0.3s;
    }
    a:hover {
      color: #f1f1f1;
    }

    h4 {
      display: none;
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 5rem;
      font-size: 36px;
      margin-left: 50px;
      width: 10px;
      height: 10px;
      border: 1px solid inherit;
      color: inherit;

      &:hover {
        color: $black;
      }
    }

    .user-avatar-and-name {
      display: none;
      flex-direction: column;
      margin-top: 0.5rem;
    }
    .user-avatar-and-name .name {
      display: flex;
      flex-direction: column;
    }

    a.logout-button {
      margin: 0 5%;
    }
  }
}
