<div id="account">
    <div class="container">
      <img
        src="icons/comment.png"
        alt="registration successful"
        class="success-icon"
      />
      <h1>Thank you!</h1>
   
      <p class="sub-hero-text" style="margin-top: 12px">
        Your email has been received <%=firstname  %>, we&apos;ll get in touch as soon as possible.
      </p>
      <div data-guide="login">
        <span s> Back to  <a href="/">home</a> </span>
        </span>
      </div>
    </div>
    <%- include('./../../partials/user-authentication-footer'); %>
  </div>
  