<div id="account">
    <div class="container">
      <img
        src="icons/shield-yellow.svg"
        alt="account recovery"
        class="success-icon"
      />
      <h1>You&apos;re Almost There</h1>
      <p class="sub-hero-text" style="margin-top: 12px">
        An email containing password reset instruction has been sent to your email, check your inbox to proceed.
        
      </p>
      
    </div>
    <%- include('./../../partials/user-authentication-footer'); %>
  </div>
  