  <!doctype html>
  <html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
    
  </head>
  <body>
      <main>
          <img src="https://svgur.com/i/1ja.svg">
          <span>Hello{{ ' ' + name|trim }}!</span>
      <em>Powered by Twing</em>
      </main>
  </body>
  </html>