@mixin gradient {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

@mixin anchor-regular($color: $white)  {
  color: $color;
  text-decoration: none;
} 
