nav {
  grid-column: 1 / 3;
  background: $grey-lightened;
  border-right: 1px solid $user-account-border;
  min-height: 100vh;
  padding-top: 3rem;
  padding-left: 0;
  margin-left: 0;
  position: relative;
  ul {
    margin: 0;
    display: block;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 1.75rem;
      padding: 0.5rem 0;
      padding-left: 10%;
      text-transform: capitalize;
    }

    & li a {
      @include anchor-regular($color: grey);
      font-weight: 400;
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
  }

  li:hover {
    color: $blue;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
    border-left: 5px solid $blue;
    border-radius: 1px;
    color: lighten($blue, 10%);
  }

  .user-image-and-name {
    display: flex;
    padding-left: 0.75rem;
    column-gap: 5px;
    align-items: center;
    display: none;
  }

  > .user-image-and-name {
    .name {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .name .user-email {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
  a.logout-button {
    width: 100%;
    display: flex;
    align-items: center;
    color: $white;
    border: 1px solid transparent;
    @include box-shadow;
    align-self: center;
    flex-direction: row-reverse;
    background: $blue;
    justify-content: center;
    border-radius: 5px;
    padding: 7.5px;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 0.75rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
  }

  a.logout-button:hover {
    box-shadow: none;
    transition: ease 0.5s;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}
