<h3>
    Add Resource
</h3>
<!-- <p class="sub-hero-text">
    provide resource details to continue
</p> -->
<form action="/" method="post">
    <div class="form-feed">
        <label for="resource-name" class="block">Resource name</label>
        <input type="text" placeholder="Resource Name" />
    </div>

    <div class="form-feed">
        <label for="resource-name" class="block">Resource ULR</label>
        <input type="url" placeholder="Resource URL" />
    </div>

    <div class="form-feed">
        <label for="resource-name" class="block ">Resource Description</label>
        <textarea type="text" placeholder="Resource Description" class="rounded text-pink-500" rows="5"></textarea>
    </div>
    <button class="btn">
        <span class=""> Add Resource </span>
        <i class="bi bi-caret-right-fill"></i>
    </button>
</form>