<form action="/">
    <div class="form-feed">
        <label for="resource-name" class="block">Resource name</label>
        <input type="text" placeholder="Resource Name" class="rounded text-pink-500" />
    </div>
    
    
    
    <div class="form-feed">
        <label for="resource-name" class="block">Resource ULR</label>
        <input type="url" placeholder="Resource URL" class="rounded text-pink-500" />
    </div>
    
    <div class="form-feed">
        <label for="resource-name" class="block ">Resource Description</label>
        <input type="text" placeholder="Resource Description" class="rounded text-pink-500" />
    </div>

</form>