<div id="account">
  <!-- Sidebar -->
  <aside class="sidebar__sidebar">
    <ul>
      <li>
        <a href="">
          <i class="bi bi-house"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-person-circle"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-bell
            "></i>
          <span>Notifications</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-gear "></i>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </aside>

  <!-- Main -->
  <main>
    <div class="header">
      <div class="nav">
        <a href="/d">Meta Data</a>
      </div>
     <div>
      <span>
        <a href="">
          <i class="bi bi-bell"></i>
        </a>
      </span>
      <span>
        <a href="">
          <i class="bi bi-gear"></i>
        </a>
      </span>
      <span>
        <a href="">
          <i class="bi bi-person-circle"></i>
        </a>
      </span>

     </div>
    </div>
    <div class="container">
    </div>
  </main>
</div>