<!DOCTYPE html>
<html>
  <head>
    <%- include('./../partials/head'); %>
  </head>
  <body>
    <%- body %>
    <script src="./../scripts/navigation.js"></script>
    <script src="./../scripts/dropdown.js"></script>
  </body>
</html>
