<!DOCTYPE html>
<html>

<head>
  <%- include('./../partials/head'); %>
</head>

<body>
  <nav><%- include("./../partials/navigation");%></nav>
  <%- body %>
    <!-- <script src="./../scripts/navigation.js"></script> -->
    <script src="./../scripts/main.js"></script>
</body>
<footer><%- include("./../partials/footer"); %></footer>
</html>