<!DOCTYPE html>
<html>
  <head>
    <%- include('./../partials/head'); %>
  </head>
  <body>
    <header id="resource-header">
      <nav><%- include("./../partials/navigation");%></nav>
      <div id="hero">
        <h1><%- pageTitle %></h1>
      </div>
    </header>
    <%- content %>
  </body>
</html>
