<!DOCTYPE html>
<html>
  <head>
    <%- include('./../partials/head'); %>
  </head>
  <body id="user-account">
    <nav>
      <%- include('./../partials/user-account-navbar'); %>
    </nav>
    <main>
      <%- body %>
    </main>
    <aside>
      <%- include('./../partials/user-account-sidebar'); %>
    </aside>
  </body>
</html>
