<div id="account">
  <div class="container">
    <img src="icons/error.png" alt="verification failed" class="success-icon" />
    <h1>Oops!</h1>
    <p class="sub-hero-text">An error occur while verifying your email.</p>
    <div data-guide="login" class="text-center">
      <span>
        Request
        <a href="/resend-verification">verification email to continue</a>
      </span>
    </div>
  </div>
  <%- include('./../../partials/user-authentication-footer'); %>
</div>
