<form action="" method="post">
  <div class="form-feed">
    <label for="username">Name</label>
    <input type="text" placeholder="enter username" />
    <span class="error"></span>
  </div>

  <div class="form-feed">
    <label for="username">URL</label>
    <input type="text" placeholder="enter website url" />
    <span class="error"></span>
  </div>

  <div class="form-feed">
    <label for="username">Category</label>
    <input type="text" placeholder="enter username" />
  </div>
</form>
