<div id="account">
  <div class="container">
    <h1>Login</h1>
    <p class="sub-hero-text">Welcome Back!</p>

    <form action="/login" method="post">
      <div class="form-feed">
        <label for="username">Username</label>
        <input
          type="text"
          placeholder="enter username"
          name="username"
          id="username"
        />
      </div>

      <div class="form-feed">
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="enter password"
          name="password"
        />
        <span class="error"></span>
        <!---<a href="/forgotten-password" data-guide="forgotten-password">Forgotten password?<a/>-->
      </div>

      <div class="form-feed">
        <button type="submit">Login</button>
      </div>
    </form>
    <div data-guide="login">
      <span> Don&apos;t an account? <a href="/register">Sign Up</a> </span>
      <span>
        <a href="/password-reset">Forgotten Password?</a>
      </span>
    </div>
  </div>
  <%- include('./../../partials/account-footer'); %>
</div>
