<div id="account">
  <div class="container">
    <h1>Account Recovery</h1>
    <p class="sub-hero-text">Set new password</p>

    <form action="" method="post">
      <div class="form-feed">
        <label for="password">Password</label>
        <input type="password" placeholder="enter new  password" />
        <span class="error"></span>
      </div>

      <div class="form-feed">
        <label for="password">Confirm Password</label>
        <input type="password" placeholder="reenter password" />
        <span class="error"></span>
      </div>

      <div class="form-feed">
        <button type="submit">Update Password</button>
      </div>
    </form>
    <div data-guide="login">
      <span> Back to <a href="/login">Login</a> </span>
    </div>
  </div>
  <%- include('./../../partials/user-authentication-footer'); %>
</div>
