<div id="account">
  <div class="container">
    <h1>Sign Up</h1>
    <p class="sub-hero-text">Create account to begin</p>

    <form action="/register" method="POST">
      <div class="form-feed">
        <label for="username">Username</label>
        <input
          type="text"
          placeholder="enter username"
          id="username"
          name="username"
        />
        <span class="error"></span>
      </div>

      <div class="form-feed">
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="enter password"
          id="password"
          name="password"
        />
        <span class="error"></span>
      </div>

      <div class="form-feed">
        <label for="password">Security Question</label>
        <!--  <input
          type="text"
          name="security_question"
          value=""
          id="securityQuestion"
          placeholder="Set a Security question for account recovery"
        /> -->
        <select name="security_question" value="" id="securityQuestion">
          <option value="Set a Security question for account recovery" disabled>
            Set a Security question for account recovery
          </option>
          <option value="In what city were you born?">
            In what city were you born?
          </option>
          <option value="What is the name of your first school? ">
            What is the name of your first school?
          </option>
          <option value="What was your favorite food as a child? ">
            What was your favorite food as a child?
          </option>
          <option value="Where did you meet your spouse">
            Where did you meet your spouse
          </option>
          <option value="What is the name of your favorite pet? ">
            What is the name of your favorite pet?
          </option>
          <option value="What high school did you attend? ">
            What high school did you attend?
          </option>
        </select>
        <span class="error"></span>
      </div>

      <div class="form-feed">
        <label for="password">Answer to Security Question </label>
        <input
          type="text"
          name="security_answer"
          id="securityQuestionAnswer"
          placeholder="Provide answer to the security question"
        />
        <span class="error"></span>
      </div>

      <div class="form-control">
        <input type="checkbox" name="privacy_policy_agreement" value="agreed" />
        <span
          >I agree to <a href="terms-of-service">Terms of Service</a> and
          <a href="privacy-policy">Privacy Policy</a></span
        >
      </div>

      <div class="form-feed">
        <button type="submit">Sign Up</button>
      </div>
    </form>
    <div data-guide="sign-up">
      Already have an account? <a href="/login">Login</a>
    </div>
  </div>
  <%- include('./../../partials/user-authentication-footer'); %>
</div>
