<div id="account">
  <div class="container">
    <img
      src="icons/next-step.png"
      alt="registration successful"
      class="success-icon"
    />
    <h1>You&apos;re Almost There</h1>
 
    <p class="sub-hero-text" style="margin-top: 12px">
      An email containing account verification instruction has been sent to the your email, check your inbox to proceed.
      
    </p>
    
  </div>
</div>
