<div id="account">
  <div class="container">
    <img
      src="icons/check-mark.png"
      alt="registration successful"
      class="success-icon"
    />
    <h1>Registration Successful</h1>
    <p class="sub-hero-text">
      Welcome on board <strong><%=username %></strong>
    </p>
    <div data-guide="login" class="text-center">
      <span> Proceed to <a href="/login">login</a> </span>
    </div>
  </div>
  <%- include('./../../partials/account-footer'); %>
</div>
